<div class="sidebar">
<button type="button" name="Log Out"><a href="/logout">Logout</a></button>
</div>
<h1>All Characters</h1>
<table>
      <tr>
        <td>--- NAME ---</td>
        <td>--- TYPE ---</td>
        <td>--- LEVEL ---</td>
        <td>--- BELONGS TO ---</td>
        <td>--- Page Link ---</td>
      </tr>

      <% Character.all.each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= c.race %></td>
          <td><%= c.level %></td>
          <!--  This needs to be fixed to show the .username... new characters aren't being saved to a user-->
          <td><%= User.find_by_id("#{c.user_id}") %></td>
          <td><a href="/characters/<%= c.id %>">view</a>  </td>>
        </tr>
      <% end %>

</table>
