<div class="sidebar">
<button type="button" name="Log Out"><a href="/logout">Logout</a></button>
<br><br><br>
<p>intelligence: <%= @character.intelligence %></p>
<p>dexterity: <%= @character.dexterity %></p>
<p>wisdom: <%= @character.wisdom %></p>
<p>Charisma: <%= @character.charisma %></p>
<p>Constitution: <%= @character.constitution %></p>
<p>strength: <%= @character.strength  %></p>
</div>


User.characters_show
<h1>name: <%= @character.name %></h1>
<h1>type: <%= @character.race %></h1>
<h1>level: <%= @character.level %></h1>
<br><br><br>
<h3>description: </h3><%= @character.description %>
<br><br><br>


<a href="/characters/<%= @character.id %>/update"><button type="button" name="button">to edit page</button></a>
