<div class="sidebar">
<a class="btn" href="/logout">Logout</a>
<br><br><br>
<p>intelligence: <%= @character.intelligence %></p>
<p>dexterity: <%= @character.dexterity %></p>
<p>wisdom: <%= @character.wisdom %></p>
<p>Charisma: <%= @character.charisma %></p>
<p>Constitution: <%= @character.constitution %></p>
<p>strength: <%= @character.strength  %></p>
</div>


<h1>name: <%= @character.name %></h1>
<h1>type: <%= @character.race %></h1>
<h1>level: <%= @character.level %></h1>
<br><br><br>
<h3>description: </h3><%= @character.description %>
<br><br><br>


<a class="btn" href="/characters/<%= @character.id %>/update">to edit page</a>
