<p>userobject:  <%= @user %></p>

<p>userobject:  <%= @user.username %></p>
<p>email:  <%= @user.email %></p>
<p>secure password:  <%= @user.password_digest %></p>

<p>session id:  <%= session[:user_id] %></p>
